In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from splinter import Browser

In [2]:
# Send a GET request to the website
url = "https://aqicn.org/city/all/"

response = requests.get(url)

In [3]:
# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.content, "html.parser")

In [4]:
# The "Major Cities" are under the "div" element inside the "main-cities" class
container = soup.find("div", class_="main-cities")

In [5]:
# The <a> element represents the cities. 
city_elements = container.find_all("a")

In [6]:
# Extracts the text from each city element, removes leading and trailing spaces using .strip()
cities = [city_element.text.strip() for city_element in city_elements]

In [7]:
cities_df = pd.DataFrame(cities, columns=["City Name"])
cities_df

                 City Name
0            Shanghai (上海)
1             Beijing (北京)
2             Tianjin (天津)
3          Guangzhou (广州市)
4            Shenzhen (深圳)
..                     ...
528  Addis Ababa (አዲስ አበባ)
529                Nairobi
530      Kampala (كامبالا)
531      Algiers (الجزائر)
532        Bamako (Bamakɔ)

[533 rows x 1 columns]

In [8]:
cities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   City Name  533 non-null    object
dtypes: object(1)
memory usage: 4.3+ KB

In [9]:
#Removing parentheses form the "City Name" column
cities_df['City Name'] = cities_df['City Name'].str.replace(r'\s+\(.*\)', '', regex=True)
cities_df

       City Name
0       Shanghai
1        Beijing
2        Tianjin
3      Guangzhou
4       Shenzhen
..           ...
528  Addis Ababa
529      Nairobi
530      Kampala
531      Algiers
532       Bamako

[533 rows x 1 columns]

In [10]:
cities_list = cities_df["City Name"].tolist()
print(cities_list)

['Shanghai', 'Beijing', 'Tianjin', 'Guangzhou', 'Shenzhen', 'Wuhan', 'Dongguan', 'Chongqing', 'Chengdu', 'Nanjing', 'Taipei', 'Kaohsiung', 'Taichung', 'tainan', 'banqiao', 'hsinchu', 'taoyuan-city', 'Keelung', 'Hong Kong', 'Macao', 'Hanyang', 'Busan', 'Incheon', 'Daejeon', 'Ulsan', 'Daegu', 'Gwangju', 'Suwon', 'Goyang', 'Seongnam', 'Edo', 'Yokohama', 'Osaka', 'Nagoya', 'Sapporo', 'Kobe', 'Kyoto', 'Fukuoka', 'Kawasaki', 'saitama', 'Moscow', 'Krasnoyarsk', 'Kaliningrad', 'Leningrad', 'Novo-Nikolaevsk', 'Nizhniy Novgorod', 'Chelyabinsk', 'Ufa', 'Dhaka', 'Kathmandu', 'Pokhara', 'Patan', 'biratnagar', 'Birgunj', 'dharan-bazar', 'Bharatpur', 'Bombay', 'Delhi', 'Bangalore', 'Calcutta', 'Chennai', 'Ahmedabad', 'Hyderabad', 'Pune', 'Kanpur', 'Bangkok', 'mueang-samut-prakan', 'Nonthaburi', 'chon-buri', 'Nakhon Ratchasima', 'Chiangmai', 'Hat Yai', 'Pak Kret', 'si-racha', 'Amphoe Phra Pradaeng', 'Lampang', 'surin', 'Vientiane', 'Rangoon', 'Kota Bharu', 'Kuala Lumpur', 'klang', 'kampung-baru-subang', 'Johor Bahru', 'Subang Jaya', 'Ipoh', 'Kuching', 'Ho Chi Minh City', 'Hanoi', 'Da Nang', 'Haiphong', 'bien-hoa', 'Huế', 'Nha Trang', 'Bandar Seri Begawan', 'City of Manila', 'Jakarta', 'Medan', 'Bekasi', 'Palembang', 'Tangerang', 'south-tangerang', 'Colombo', 'galkissa', 'moratuwa', 'Negombo', 'pita-kotte', 'Kotte', 'Astana', 'Almaty', 'Dushanbe', 'vahdat', 'tursunzoda', 'Bishkek', 'Tashkent', 'Phnom Penh', 'Montreal', 'Toronto', 'Vancouver', 'Calgary', 'Ottawa', 'Edmonton', 'Mississauga', 'north-york', 'Winnipeg', 'scarborough', 'Auckland', 'Wellington', 'Christchurch', 'Manukau', 'waitakere', 'North Shore', 'Hamilton', 'Dunedin', 'Lower Hutt', 'Syd', 'Melbourne', 'Brisbane', 'Perth', 'Adelaide', 'Gold', 'Canberra', 'Newcastle', 'Wollongong', 'Logan', 'Big Apple', 'Big Apple', 'LA', 'Chicago', 'Borough of Brooklyn', 'borough-of-queens', 'houston', 'Philadelphia', 'manhattan', 'Phoenix', 'Borough of Bronx', 'Lima', 'Callao', 'laventille', 'Santiago', 'puente-alto', 'Antofagasta', 'Viña del Mar', 'Valparaíso', 'Talcahuano', 'san-bernardo', 'temuco', 'Iquique', 'Concepción', 'São Paulo', 'Mexico City', 'iztapalapa', 'Ecatepec de Morelos', 'Guadalajara', 'Puebla', 'Ciudad Juárez', 'Tijuana', 'Ciudad Neza', 'Bogotá', 'Santiago de Cali', 'Medellín', 'Willemstad', 'sint-michiel-liber', 'barber', 'dorp-soto', 'newport', 'sabana-westpunt', 'dorp-sint-willebrordus', 'lagun', 'Quito', 'Cuenca', 'Buenos Aires', 'San Salvador', 'San Juan', 'Guatemala City', 'San José', 'Paris', 'Marseille', 'Lyon', 'Toulouse', 'Nice', 'Nantes', 'Strasbourg', 'Montpellier', 'Bordeaux', 'Lille', 'Tallinn', 'Tartu', 'Narva', 'Kohtla-Järve', 'rakvere', 'Sillamäe', 'Maardu', 'Kuressaare', 'Madrid', 'Barcelona', 'Valencia', 'Seville', 'Saragossa', 'Málaga', 'Murcia', 'Palma de Mallorca', 'Las Palmas de Gran Canaria', 'bilbao', 'City of London', 'city-of-london', 'Zurich', 'Geneva', 'Basel', 'Bern', 'Lausanne', 'Winterthur', 'St. Gallen', 'Lucerne', 'Prague', 'Brno', 'Ostrava', 'Pilsen', 'Olomouc', 'Liberec', 'Budweis', 'Hradec Králové', 'Rome', 'Milan', 'Naples', 'Turin', 'Genoa', 'Bologna', 'Florence', 'Bratislava', 'Košice', 'Prešov', 'Nitra', 'Žilina', 'Banská Bystrica', 'Trnava', 'martin', 'Oslo', 'Bergen', 'Trondheim', 'Stavanger', 'Drammen', 'Fredrikstad', 'Kristiansand', 'Sandnes', 'Vienna', 'Graz', 'Linz', 'Salzburg', 'Innsbruck', 'Klagenfurt', 'Villach', 'Wels', 'Nicosia', 'Limassol', 'Larnaca', 'Famagusta', 'Paphos', 'Keryneia', 'Protaras', 'pergamos', 'Warsaw', 'Łódź', 'Krakow', 'Wrocław', 'poznan', 'Gdańsk', 'Szczecin', 'Bydgoszcz', 'Lublin', 'Katowice', 'Brussels', 'Antwerp', 'Ghent', 'Charleroi', 'Liège', 'Bruges', 'Namur', 'Leuven', 'Amsterdam', 'Rotterdam', 'Hague', 'Utrecht', 'Eindhoven', 'Tilburg', 'Groningen', 'Almere', 'Breda', 'Nijmegen', 'Copenhagen', 'frederiksberg', 'Vilnius', 'Kaunas', 'Klaipėda', 'Šiauliai', 'dainava-kaunas', 'eiguliai', 'Budapest', 'Debrecen', 'Miskolc', 'szeged', 'Pécs', 'budapest-xi.-kerulet', 'budapest-iii.-kerulet', 'budapest-xiv.-kerulet', 'nyiregyhaza', 'Bucharest', 'Iași', 'Cluj-Napoca', 'Timişoara', 'Craiova', 'Braşov', 'Ploieşti', 'Brăila', 'Dublin', 'zagreb---centar', 'Zagreb', 'Split', 'Rijeka', 'Osijek', 'Zadar', 'Slavonski Brod', 'Pula', 'Ljubljana', 'Maribor', 'Celje', 'Kranj', 'Velenje', 'Koper', 'Novo Mesto', 'Ptuj', 'Birkirkara', 'qormi', 'Mosta', 'zabbar', 'Saint John', 'fgura', 'zejtun', 'Berlin', 'Hamburg', 'Munich', 'Cologne', 'Frankfurt', 'Essen', 'Stuttgart', 'Dortmund', 'Duesseldorf', 'Bremen', 'Helsinki', 'Espoo', 'Tampere', 'Vantaa', 'Turku', 'Oulu', 'Lahti', 'Kuopio', 'Jyvaskyla', 'Pori', 'Noumea', 'Stockholm', 'Goteborg', 'Malmo', 'Uppsala', 'Västerås', 'Linköping', 'Helsingborg', 'Sofia', 'Plovdiv', 'Varna', 'Burgas', 'Rousse', 'Stara Zagora', 'Pleven', 'Sliven', 'Belgrade', 'Niš', 'Novi Sad', 'zemun', 'Kragujevac', 'Čačak', 'Subotica', 'Leskovac', 'Sarajevo', 'Banja Luka', 'Zenica', 'Tuzla', 'Mostar', 'Bugojno', 'brcko', 'Prishtina', 'Prizren', 'Kosovska Mitrovica', 'gjakove', 'Peć', 'Suva Reka', 'ferizaj', 'glogovac', 'Skopje', 'Bitola', 'Kumanovo', 'Prilep', 'Tetovo', 'cair', 'kisela-voda', 'Veles', 'Podgorica', 'niksic', 'Herceg Novi', 'Pljevlja', 'Budva', 'Bar', 'Bijelo Polje', 'Cetinje', 'Reykjavik', 'Kopavogur', 'Hafnarfirdi', 'Akureyri', 'Garðabaer', 'Mosfellsbaer', 'Akranes', 'selfoss', 'Lisbon', 'Porto', 'Amadora', 'Braga', 'Setúbal', 'Queluz', 'Funchal', 'Athens', 'Kiev', 'Dnipro', 'Odesa', 'Alexandrovsk', 'Lviv', 'Kryvyi Rih', 'Mariupol', 'ivano-frankivsk', 'Tbilisi', 'Kutaisi', 'Batumi', 'Rustavi', 'Haifa', 'Tel Aviv', 'Ariel', 'West Jerusalem', 'Ashdod', 'Rishon LeZion', 'Petach Tikva', 'Beersheba', 'Ankara', 'Byzantium', 'Izmir', 'Bursa', 'Adana', 'Gaziantep', 'Konya', 'cankaya', 'Antalya', 'Tehran', 'Mashhad', 'Isfahan', 'Karaj', 'Tabriz', 'Shiraz', 'Qom', 'Ahvaz', 'Dubai', 'al-sohar', 'Saham', 'Manama', 'Al Muharraq', 'dar-kulayb', 'sitrah', 'Al Ahmadi', 'Kuwait', 'Amman', 'Zarqa', 'Irbid', 'russeifa', 'Wadi Al Seer', 'Adjlun', 'Aqaba', 'Madaba', 'Baghdad', 'Basra', 'Abu Ghraib', 'Jeddah', 'Medina', 'Riyadh', 'Mecca', 'sultanah', 'Dammam', 'Taif', 'tabuk', 'Karachi', 'Lahore', 'Rawalpindi', 'Peshawar', 'Kabul', 'Ashgabat', 'Cape Town', 'Durban', "Jo'anna", 'Soweto', 'Pretoria', 'Port Elizabeth', 'Pietermaritzburg', 'benoni', 'Addis Ababa', 'Nairobi', 'Kampala', 'Algiers', 'Bamako']

In [11]:
import json
import time
from pymongo import MongoClient

In [15]:
client = MongoClient('mongodb://localhost:27017/')
db = client['air_quality_status']
collection = db['air_quality_status']

base_url_cities_1 = "/?token=cfec51e63370e90b7880950705e8add14a2602b6"
base_url_cities_0 = "http://api.airvisual.com/v2/city?city="

for x in cities_list:
    base_url_cities = base_url_cities_0 + x + base_url_cities_1
    response_cities = requests.get(base_url_cities).json()
    #print(json.dumps(response_cities, indent=4))
    #Insert the data into the collection
    if response_cities['status']=='ok':
        collection.insert_one(response_cities)
client.close()