In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from splinter import Browser
from flask_pymongo import PyMongo
import flask
#Launch the browser
#browser = Browser('chrome')

In [2]:
# Send a GET request to the website
url = "https://aqicn.org/city/all/"

response = requests.get(url)

# Send the browser to the URL
#browser.visit(url)

# Save the HTML from the browser
#html = browser.html

# Create a BeautifulSoup object from the HTML
#soup = BeautifulSoup(html, 'html.parser')

In [3]:
# Create a BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.content, "html.parser")

In [4]:
container = soup.find("div", class_="main-cities")

In [5]:
city_elements = container.find_all("a")

In [6]:
cities = [city_element.text.strip() for city_element in city_elements]

In [7]:
cities_df = pd.DataFrame(cities, columns=["City Name"])

In [8]:
cities_df

                 City Name
0            Shanghai (上海)
1             Beijing (北京)
2             Tianjin (天津)
3          Guangzhou (广州市)
4            Shenzhen (深圳)
..                     ...
528  Addis Ababa (አዲስ አበባ)
529                Nairobi
530      Kampala (كامبالا)
531      Algiers (الجزائر)
532        Bamako (Bamakɔ)

[533 rows x 1 columns]

In [9]:
cities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   City Name  533 non-null    object
dtypes: object(1)
memory usage: 4.3+ KB

In [10]:
#Removing parenthesis form the City Name column
cities_df['City Name'] = df['City Name'].str.replace(r'\s+\(.*\)', '', regex=True)

NameError: name 'df' is not defined

In [11]:
cities_df

                 City Name
0            Shanghai (上海)
1             Beijing (北京)
2             Tianjin (天津)
3          Guangzhou (广州市)
4            Shenzhen (深圳)
..                     ...
528  Addis Ababa (አዲስ አበባ)
529                Nairobi
530      Kampala (كامبالا)
531      Algiers (الجزائر)
532        Bamako (Bamakɔ)

[533 rows x 1 columns]

In [12]:
cities_df.to_csv("cityname.csv", index = False)

In [13]:
cities_list = cities_df["City Name"].tolist()

In [14]:
print(cities_list)

['Shanghai (上海)', 'Beijing (北京)', 'Tianjin (天津)', 'Guangzhou (广州市)', 'Shenzhen (深圳)', 'Wuhan (武汉市)', 'Dongguan (东莞)', 'Chongqing (重庆市)', 'Chengdu (成都)', 'Nanjing (南京)', 'Taipei (Pan-ch’iao)', 'Kaohsiung (高雄)', 'Taichung (Taizhong Shi)', 'tainan (臺南)', 'banqiao (Fan-ch’iao)', 'hsinchu (Xinzhu)', 'taoyuan-city', 'Keelung (Ke-lâng-chhī)', 'Hong Kong (香港)', 'Macao (澳門)', 'Hanyang (서울)', 'Busan (부산)', 'Incheon (인천)', 'Daejeon (대전)', 'Ulsan (울산)', 'Daegu (대구)', 'Gwangju (광주)', 'Suwon (수원)', 'Goyang (고양)', 'Seongnam (성남)', 'Edo (東京)', 'Yokohama (よこはまし)', 'Osaka (大阪市)', 'Nagoya (名古屋)', 'Sapporo (さっぽろし)', 'Kobe (こうべし)', 'Kyoto (京都市)', 'Fukuoka (ふくおかし)', 'Kawasaki (川崎市)', 'saitama', 'Moscow (Москва)', 'Krasnoyarsk (Красноярск)', 'Kaliningrad (Калининград)', 'Leningrad (Ленинград)', 'Novo-Nikolaevsk (Новониколаевск)', 'Nizhniy Novgorod (Горький)', 'Chelyabinsk (Челябинск)', 'Ufa (Уфа)', 'Dhaka (ঢাকা)', 'Kathmandu (काठमाडौं)', 'Pokhara (पोखरा)', 'Patan', 'biratnagar', 'Birgunj', 'dharan-bazar', 'Bharatpur (भरतपुर)', 'Bombay (बम्बई)', 'Delhi (दिल्ली)', 'Bangalore (बंगलौर)', 'Calcutta (Kolkata)', 'Chennai (चेन्नई)', 'Ahmedabad (अहमदाबाद)', 'Hyderabad (हैदराबाद)', 'Pune (पुणे)', 'Kanpur (कानपुर)', 'Bangkok (กรุงเทพ)', 'mueang-samut-prakan (สมุทรปราการ)', 'Nonthaburi (เทศบาลนครนนทบุรี)', 'chon-buri (ชลบุรี)', 'Nakhon Ratchasima (นครราชสีมา)', 'Chiangmai (แม่ริม เชียงใหม่)', 'Hat Yai (หาดใหญ่)', 'Pak Kret (ปากเกร็ด)', 'si-racha (ศรีราชา)', 'Amphoe Phra Pradaeng (พระประแดง)', 'Lampang (ลำปาง)', 'surin', 'Vientiane (ວຽງຈັນ)', 'Rangoon (Yangon)', 'Kota Bharu (哥打巴鲁)', 'Kuala Lumpur (吉隆坡)', 'klang', 'kampung-baru-subang', 'Johor Bahru (新山)', 'Subang Jaya (梳邦再也)', 'Ipoh (怡保)', 'Kuching (古晉)', 'Ho Chi Minh City (Sài Gòn)', 'Hanoi (Hà Nội)', 'Da Nang (Đà Nẵng)', 'Haiphong (Hải Phòng)', 'bien-hoa', 'Huế (Hué)', 'Nha Trang (芽莊市)', 'Bandar Seri Begawan', 'City of Manila (Maynila)', 'Jakarta (Djakarta)', 'Medan (Kota Medan)', 'Bekasi (Kutha Bekasi)', 'Palembang (Kota Palembang)', 'Tangerang (Kota Tangerang)', 'south-tangerang (Tangerang Selatan)', 'Colombo (කොළඹ)', 'galkissa', 'moratuwa', 'Negombo (මීගමුව)', 'pita-kotte', 'Kotte (கோட்டே)', 'Astana', 'Almaty', 'Dushanbe', 'vahdat', 'tursunzoda', 'Bishkek', 'Tashkent', 'Phnom Penh (ភ្នំកំពង់ត្រាច)', 'Montreal (Montréal)', 'Toronto', 'Vancouver', 'Calgary', 'Ottawa (ᐊᑐᕚ/atavaa)', 'Edmonton', 'Mississauga', 'north-york', 'Winnipeg', 'scarborough', 'Auckland (Tāmaki-makau-rau)', 'Wellington (Te Whanga-nui-a-Tara)', 'Christchurch (Ōtautahi)', 'Manukau', 'waitakere', 'North Shore', 'Hamilton (Kirikiriroa)', 'Dunedin (Ōtepoti)', 'Lower Hutt (Awakairangi)', 'Syd', 'Melbourne', 'Brisbane', 'Perth', 'Adelaide', 'Gold', 'Canberra', 'Newcastle', 'Wollongong', 'Logan', 'Big Apple (Nueva York)', 'Big Apple (Nueva York)', 'LA (El Pueblo de Nuestra Señora de los Ángeles de Porciúncula)', 'Chicago (Kikako)', 'Borough of Brooklyn (Brooklyn)', 'borough-of-queens', 'houston (Houston)', 'Philadelphia (Filadelfia)', 'manhattan', 'Phoenix (Pēniki)', 'Borough of Bronx', 'Lima (Limaq)', 'Callao (El Callao)', 'laventille', 'Santiago (Santiago de Chile)', 'puente-alto', 'Antofagasta', 'Viña del Mar', 'Valparaíso', 'Talcahuano', 'san-bernardo', 'temuco (Temuco)', 'Iquique', 'Concepción', 'São Paulo (Sampa)', 'Mexico City (Ciudad de Méjico)', 'iztapalapa', 'Ecatepec de Morelos (Ecatepec)', 'Guadalajara', 'Puebla (Puebla de Zaragoza)', 'Ciudad Juárez', 'Tijuana', 'Ciudad Neza (Cd. Neza)', 'Bogotá', 'Santiago de Cali (Cali)', 'Medellín', 'Willemstad', 'sint-michiel-liber', 'barber', 'dorp-soto', 'newport', 'sabana-westpunt', 'dorp-sint-willebrordus', 'lagun', 'Quito', 'Cuenca', 'Buenos Aires (Baires)', 'San Salvador', 'San Juan', 'Guatemala City (Ciudad de Guatemala)', 'San José', 'Paris (Lutèce)', 'Marseille (Marselye)', 'Lyon (Liyon)', 'Toulouse (Tolosa)', 'Nice (Nisa)', 'Nantes (Naoned)', 'Strasbourg (Strasbôrg)', 'Montpellier (Montpelyiér)', 'Bordeaux (Bordôx)', 'Lille (Lila)', 'Tallinn (Таллин)', 'Tartu (Тарту)', 'Narva (Нарва)', 'Kohtla-Järve (Кохтла-Ярве)', 'rakvere (Rakvere_vald)', 'Sillamäe (Силламяэ)', 'Maardu (Маарду)', 'Kuressaare (Курессааре)', 'Madrid (La Villa y Corte de Madrid)', 'Barcelona', 'Valencia (València)', 'Seville (Sevilla)', 'Saragossa (Zaragosa)', 'Málaga (Màlaga)', 'Murcia (Ciutat de Múrcia)', 'Palma de Mallorca (Palma)', 'Las Palmas de Gran Canaria (Las Palmas de G.C.)', 'bilbao (Bilbao)', 'City of London (Llundain)', 'city-of-london (Dinas Llundain)', 'Zurich (Zuerich)', 'Geneva (Genf)', 'Basel (Bâle)', 'Bern (Berne)', 'Lausanne (Losanna)', 'Winterthur (Eulachstadt)', 'St. Gallen (Saint-Gall)', 'Lucerne (Luzern)', 'Prague (Praha)', 'Brno', 'Ostrava', 'Pilsen (Plzeň)', 'Olomouc', 'Liberec', 'Budweis (České Budějovice)', 'Hradec Králové', 'Rome (Roma)', 'Milan (Milano)', 'Naples (Napoli)', 'Turin (Torino)', 'Genoa (Genova)', 'Bologna (Bologne)', 'Florence (Firenze)', 'Bratislava (Pozsony)', 'Košice (Kassa)', 'Prešov (Eperjes)', 'Nitra (Nyitra)', 'Žilina (Zsolna)', 'Banská Bystrica (Besztercebánya)', 'Trnava (Nagyszombat)', 'martin (Turócszentmárton)', 'Oslo', 'Bergen (Birgon)', 'Trondheim (Troandin)', 'Stavanger', 'Drammen', 'Fredrikstad', 'Kristiansand', 'Sandnes', 'Vienna (Wien)', 'Graz (Grác)', 'Linz', 'Salzburg', 'Innsbruck', 'Klagenfurt (Celovec)', 'Villach (Beljak)', 'Wels', 'Nicosia (Lefkosía)', 'Limassol (Lemesós)', 'Larnaca (Lárnaka)', 'Famagusta (Ammóchostos)', 'Paphos (Παφος)', 'Keryneia (Kerýneia)', 'Protaras', 'pergamos', 'Warsaw (Warszawa)', 'Łódź', 'Krakow (Kraków)', 'Wrocław', 'poznan', 'Gdańsk', 'Szczecin', 'Bydgoszcz', 'Lublin', 'Katowice', 'Brussels (Brussel)', 'Antwerp (Antwerpen)', 'Ghent (Gent)', 'Charleroi', 'Liège (Luik)', 'Bruges (Brugge)', 'Namur (Namen)', 'Leuven (Louvain)', 'Amsterdam', 'Rotterdam', 'Hague (Den Haag)', 'Utrecht (Utert)', 'Eindhoven', 'Tilburg (Tilburch)', 'Groningen (Grins)', 'Almere', 'Breda', 'Nijmegen (Nymwegen)', 'Copenhagen (København)', 'frederiksberg (Frederiksberg Kommune)', 'Vilnius (Vilniaus miestas)', 'Kaunas (Каунас)', 'Klaipėda (Клайпеда)', 'Šiauliai (Шяуляй)', 'dainava-kaunas', 'eiguliai', 'Budapest', 'Debrecen', 'Miskolc', 'szeged', 'Pécs', 'budapest-xi.-kerulet', 'budapest-iii.-kerulet', 'budapest-xiv.-kerulet', 'nyiregyhaza', 'Bucharest (București)', 'Iași (Jászvásár)', 'Cluj-Napoca (Kolozsvár)', 'Timişoara (Timișoara)', 'Craiova', 'Braşov (Brașov)', 'Ploieşti (Ploiești)', 'Brăila', 'Dublin (Baile Átha Cliath)', 'zagreb---centar', 'Zagreb (Загреб)', 'Split (Сплит)', 'Rijeka (Ријека)', 'Osijek (Осијек)', 'Zadar (Задар)', 'Slavonski Brod (Славонски Брод)', 'Pula (Пула)', 'Ljubljana', 'Maribor', 'Celje', 'Kranj', 'Velenje (Mestna občina Velenje)', 'Koper', 'Novo Mesto (Novo mesto)', 'Ptuj (Mestna občina Ptuj)', 'Birkirkara', 'qormi', 'Mosta', 'zabbar', 'Saint John', 'fgura', 'zejtun', 'Berlin', 'Hamburg', 'Munich (München)', 'Cologne (Köln)', 'Frankfurt (Frankfurt am Main)', 'Essen', 'Stuttgart', 'Dortmund', 'Duesseldorf (Düsseldorf)', 'Bremen', 'Helsinki (Helsingfors)', 'Espoo (Esbo)', 'Tampere (Tammerfors)', 'Vantaa (Vanda)', 'Turku (Åbo)', 'Oulu (Uleåborg)', 'Lahti (Lahtis)', 'Kuopio', 'Jyvaskyla (Jyväskylä)', 'Pori (Björneborg)', 'Noumea', 'Stockholm (Stockholbma)', 'Goteborg (Göteborg)', 'Malmo (Malmö)', 'Uppsala', 'Västerås', 'Linköping', 'Helsingborg (Hälsingborg)', 'Sofia (София)', 'Plovdiv (Пловдив)', 'Varna (Варна)', 'Burgas (Бургас)', 'Rousse (Русе)', 'Stara Zagora (Стара Загора)', 'Pleven (Плевен)', 'Sliven (Сливен)', 'Belgrade (Београд)', 'Niš', 'Novi Sad (Нови Сад)', 'zemun (Zemun)', 'Kragujevac', 'Čačak', 'Subotica (Szabadka)', 'Leskovac', 'Sarajevo (Сарајево)', 'Banja Luka (Бања Лука)', 'Zenica (Зеница)', 'Tuzla (Тузла)', 'Mostar (Мостар)', 'Bugojno (Бугојно)', 'brcko', 'Prishtina (Приштина)', 'Prizren (Përzeren)', 'Kosovska Mitrovica (Mitrovicë)', 'gjakove (Gjakova)', 'Peć (Peja)', 'Suva Reka (Lumthatë)', 'ferizaj (Ferezaj)', 'glogovac (Drenas)', 'Skopje (Shkupi)', 'Bitola (Битола)', 'Kumanovo (Куманово)', 'Prilep (Прилеп)', 'Tetovo (Тетово)', 'cair (Чаир)', 'kisela-voda (Кисела Вода)', 'Veles (Велес)', 'Podgorica (Titograd)', 'niksic (Никшић)', 'Herceg Novi (Херцег Нови)', 'Pljevlja (Пљевља)', 'Budva (Будва)', 'Bar (Бар)', 'Bijelo Polje (Oпштина Бијело Поље)', 'Cetinje (Цетиње)', 'Reykjavik (Reykjavík)', 'Kopavogur (Kópavog)', 'Hafnarfirdi (Hafnarfirði)', 'Akureyri (Akureyrar)', 'Garðabaer (Garðabæ)', 'Mosfellsbaer (Mosfellsbæ)', 'Akranes (Akraneskaupstaður)', 'selfoss (Selfoss)', 'Lisbon (Lisboa)', 'Porto', 'Amadora', 'Braga', 'Setúbal', 'Queluz', 'Funchal', 'Athens (Athínai)', 'Kiev (Київ)', 'Dnipro (Jekatierinosław)', 'Odesa (Одеса)', 'Alexandrovsk (Zaporižžja)', 'Lviv (Львів)', 'Kryvyi Rih (Кривий Ріг)', 'Mariupol (Маріуполь)', 'ivano-frankivsk (Івано-Франківськ)', 'Tbilisi', 'Kutaisi', 'Batumi', 'Rustavi', 'Haifa (H̱efa)', 'Tel Aviv (תל אביב-יפו)', 'Ariel (אֵילִיָּה קַפִּיטוֹלִינָה)', 'West Jerusalem (מערב ירושלים)', 'Ashdod (אשדוד)', 'Rishon LeZion (ראשון לציון)', 'Petach Tikva (פתח תקוה)', 'Beersheba (באר שבע)', 'Ankara (Enqere)', 'Byzantium (İstanbul)', 'Izmir (İzmir)', 'Bursa', 'Adana (Edene)', 'Gaziantep (Dîlok)', 'Konya (Qonye)', 'cankaya', 'Antalya', 'Tehran (تِهران)', 'Mashhad (مشهد)', 'Isfahan (Eşfahān)', 'Karaj (قَصَبِهِ كَرَج)', 'Tabriz (Tabrīz)', 'Shiraz (Shīrāz)', 'Qom (غُم)', 'Ahvaz (Ahvāz)', 'Dubai (دبي)', 'al-sohar (Şuḩār)', 'Saham', 'Manama (اَلْمَنَامَة)', 'Al Muharraq (اَلْمُحَرَّق)', 'dar-kulayb (دَار كُلَيْب)', 'sitrah (سِتْرَة)', 'Al Ahmadi (اَلأَحْمَدِي)', 'Kuwait (اَلْكُوَيْت)', 'Amman (`Ammān)', 'Zarqa (الزرقاء)', 'Irbid (إربد)', 'russeifa', 'Wadi Al Seer', 'Adjlun (‘Ajlūn)', 'Aqaba (العقبة)', 'Madaba (مادبا)', 'Baghdad (بغداد)', 'Basra (البصرة)', 'Abu Ghraib (أبو غريب)', 'Jeddah (جدة)', 'Medina (المدينة)', 'Riyadh (Ar Riyāḑ)', 'Mecca (مكة)', 'sultanah', 'Dammam (الدمام)', 'Taif (Aţ Ţā’if)', 'tabuk (تبوك)', 'Karachi (کراچی)', 'Lahore (لاھور)', 'Rawalpindi (راولپنڈی)', 'Peshawar (پشاور)', 'Kabul (كابل)', 'Ashgabat (Aşgabat)', 'Cape Town (iKapa)', 'Durban (ITheku)', "Jo'anna (EGoli)", 'Soweto', 'Pretoria (IPitoli)', 'Port Elizabeth (Ibhayi)', 'Pietermaritzburg', 'benoni', 'Addis Ababa (አዲስ አበባ)', 'Nairobi', 'Kampala (كامبالا)', 'Algiers (الجزائر)', 'Bamako (Bamakɔ)']

In [15]:
import json
import time

In [ ]:

base_url_cities_0 = "http://api.waqi.info/feed/"
base_url_cities_1 = "/?token=cfec51e63370e90b7880950705e8add14a2602b6"
base_url_citydata_0 = "http://api.airvisual.com/v2/city?city="

for x in cities_list:
    base_url_cities = base_url_cities_0 + x + base_url_cities_1
    params = {
        "param":"pm25",
        "value":"true"
        
    }
    response_cities = requests.get(base_url_cities, params=params).json()
#     print(json.dumps(response_cities, indent=4))

In [17]:
#Storage the data into a MongoDB database
from pymongo import MongoClient

In [18]:
#Establish the MongoDB server
client = MongoClient('mongodb://localhost:27017/')

In [19]:
#Create a database
db = client['major_cities_airquality']

In [20]:
# Create a collection
collection = db['major_cities_airquality']

In [21]:
#Prepare the data to be inserted into the collection
data = {
    'aqi': response_cities['data']['aqi'],
    'idx': response_cities['data']['idx'],
    'attributions': response_cities['data']['attributions'],
    'city_name': response_cities['data']['city']['name'],
    'dominant_pol': response_cities['data']['dominentpol'],
    'iaqi': response_cities['data']['iaqi'],
    'time': response_cities['data']['time'],
    'forecast': response_cities['data']['forecast']
    
}

TypeError: string indices must be integers

In [22]:
#Insert the data into the collection
collection.insert_one(data)

NameError: name 'data' is not defined

In [23]:
app = flask.Flask(__name__)

In [ ]:
client.close()